---
BasedOnStyle: Google
AccessModifierOffset: -2
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Left
AlignEscapedNewlines: LeftWithLastLine
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
ColumnLimit: 100
Cpp11BracedListStyle: false
DerivePointerAlignment: false
IncludeIsMainSourceRegex: "'$?'"
IndentWidth: 4
InsertBraces: true
NamespaceIndentation: All
PackConstructorInitializers: BinPack
ReferenceAlignment: Left
RemoveSemicolon: true
SortIncludes: Never
SpaceAfterCStyleCast: true
SpaceBeforeCpp11BracedList: true
TabWidth: 4

