*
.*/
!*/

# Git configuration
!*.gitignore
!*.gitkeep

# Reports
!*.pdf
!*.jpg
!*.png
!*.tex
!*.cls
!*.md

# AaDS files
!*.c
!*.h

# IB files
!*.scm
!*.rb
!*.sh

# DM/PL files
!*.go
!*.java
!*.cpp
!*.cc

# CN files
!*.mod
!*.html
!*.css
!*.js

# LLP files
!*.inc
!*.asm
!*.tasm
!Makefile
